<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/titlebar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Staatliches&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fcab31dd80.js" crossorigin="anonymous"></script>

</head>
<body>

    <%- include('./titlebar.ejs') %>

    <div class="main">
        <div class="main-content">
            <h1>PROBANDO</h1>
        
            <h1>TEST</h1>
            
            <h1>TEST</h1>
        
            <h1>TEST</h1>
            <h1>TEST</h1>
        
            <h1>TEST</h1>
            
            <h1>TEST</h1>
        
            <h1>TEST</h1>
            <h1>TEST</h1>
        
            <h1>TEST</h1>
            
            <h1>TEST</h1>
        
            <h1>TEST</h1>
        </div>
    </div>

    <script>
        const { ipcRenderer, remote } = require('electron');
    </script>
    <script src="../public/js/titlebar.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>
