<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/titlebar.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/fa.css" >
</head>
<body>

    <%- include('./titlebar.ejs') %>

    <div class="main">
        <div class="main-content">
        </div>
    </div>

    <script>
        const { ipcRenderer } = require('electron');
        const remote = require('electron').remote;
        const ejs = require('ejs');
        const path = require('path');
        const os = require('os');
        const fs = require('fs');
        const appOptions = require('../appOptions.json');
        const userOptions = require('../userOptions.json');
    </script>
    <script src="../public/js/welcomeFile.js"></script>
    <script src="../public/js/filesManager.js"></script>
    <script src="../public/js/index.js"></script>
    <script src="../public/js/hScrollbar.js"></script>
    <script src="../public/js/titlebar.js"></script>
</body>
</html>
