<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="../public/css/noFiles.css">
    <link rel="stylesheet" href="../public/css/fonts.css" >
    <link rel="stylesheet" href="../public/css/fa.css" >
</head>
<body>
    
    <i class="fa fa-desktop image"></i>
    <h1 class="noFileTitle">There are no open files.</h1>
    <p class="noFileText">Enter the file explorer and select an option, either a new file or an <br>existing one on your computer. You can also use shortcuts; To open a file from your <br> computer use <span class="shortcut">CTRL + E</span>; To create a new file use <span class="shortcut">CTRL + N</span>.</p>

</body>
</html>
