<html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        <div class="bar drag title-bar">

            <div class="no-drag pointer titlebar-btn btn-devTools" id="btn-devTools"> <i class="material-icons tiny" title="Minimize">build</i> </div>
    
            <div class="title"> <img src="../public/img/NedramIcon-mini.png"> <span style="font-size: 14px;" class="titleApp">Nedram</span></div>
    
            <div class="right-btns">
                <div class="no-drag pointer titlebar-btn" id="btn-minimize"> <i class="material-icons tiny" title="Minimize">remove</i> </div>
                <div class="no-drag pointer titlebar-btn" id="btn-maximize">
                    <i id="icon_maximize" class="material-icons tiny hide" title="Maximize">crop_square</i>
                    <i id="icon_restore" class="material-icons tiny hide" title="Restore">filter_none</i>
                </div>
                <div class="no-drag pointer titlebar-btn" id="btn-close"> <i class="material-icons tiny" title="Close">close</i> </div>
            </div>
        </div>
        
        <div class="navbar">
            <div class="top-buttons">
                <div class="no-drag pointer navbar-btn" id="btn-files"><i class="material-icons tiny">folder_open</i></div>
                <div class="navbar-btn-options" id="options-btn-files">
                    
                </div>
                <div class="no-drag pointer navbar-btn" id="btn-styles"><i class="material-icons tiny">palette</i></div>
            </div>
            <div class="bottom-buttons">
                <div class="no-drag pointer navbar-btn" id="btn-config"><i class="fa fa-cog"></i></div>
            </div>
            <br/>
        </div>

        <ul class="filesNavbar" id="filesNavbarList">
        </ul>

    </body>
</html>
