<html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        <div class="bar drag title-bar">

            <div class="no-drag pointer titlebar-btn btn-devTools" id="btn-devTools"> <i class="material-icons tiny" title="Minimize">build</i> </div>
    
            <div class="title"> <img src="../public/img/NedramIcon-mini.png"> <span style="font-size: 14px;" class="titleApp">Nedram</span></div>
    
            <div class="right-btns">
                <div class="no-drag pointer titlebar-btn" id="btn-minimize"> <i class="material-icons tiny" title="Minimize">remove</i> </div>
                <div class="no-drag pointer titlebar-btn" id="btn-maximize">
                    <i id="icon_maximize" class="material-icons tiny hide" title="Maximize">crop_square</i>
                    <i id="icon_restore" class="material-icons tiny hide" title="Restore">filter_none</i>
                </div>
                <div class="no-drag pointer titlebar-btn" id="btn-close"> <i class="material-icons tiny" title="Close">close</i> </div>
            </div>
        </div>
        
        <div class="navbar">
            <div class="top-buttons">
                <div class="no-drag pointer navbar-btn" id="btn-files"><i class="material-icons tiny">folder_open</i></div>
                <div class="navbar-btn-options" id="options-btn-files"></div>
                <div class="no-drag pointer navbar-btn" id="btn-styles"><i class="material-icons tiny">palette</i></div>
            </div>
            <div class="bottom-buttons">
                <div class="no-drag pointer navbar-btn" id="btn-config"><i class="fa fa-cog"></i></div>
            </div>
            <br/>
        </div>
        <div class="navbar-show btn-files-show">
            <i class="fa fa-angle-down section-icon-explorer navbar-show-i"></i>  <span class="sections-open-buttons explorer">EXPLORER</span>
            
            <section class="navbar-section-explorer">
                <table>
                    <tr>
                        <td>
                            <span class="explorer-text">Open File</span>
                            <span class="explorer-shortcut">CTRL + E</span>
                        </td>
                        <td>
                            <span class="explorer-text">Open Folder</span>
                            <span class="explorer-shortcut">CTRL + F</span>
                        </td>
                        <td>
                            <span class="explorer-text">Open Workspace</span>
                            <span class="explorer-shortcut">CTRL + W</span>
                        </td>
                        <td>
                            <span class="explorer-text">Open Recent</span>
                            <span class="explorer-shortcut">CTRL + R</span>
                        </td>
                        <td>
                            <span class="explorer-text">New File</span>
                            <span class="explorer-shortcut">CTRL + N</span>
                        </td>
                        <td>
                            <span class="explorer-text">Add folder to workspace</span>
                            <span class="explorer-shortcut">CTRL + ALT + W</span>
                        </td>
                        <td>
                            <span class="explorer-text">Save workspace as</span>
                            <span class="explorer-shortcut">CTRL + ALT + S</span>
                        </td>
                        <td>
                            <span class="explorer-text">Save</span>
                            <span class="explorer-shortcut">CTRL + S</span>
                        </td>
                        <td>
                            <span class="explorer-text">Save as</span>
                            <span class="explorer-shortcut">CTRL + B</span>
                        </td>
                        <td>
                            <span class="explorer-text">Save all</span>
                            <span class="explorer-shortcut">CTRL + A</span>
                        </td>
                        <td>
                            <span class="explorer-text">Revert change</span>
                            <span class="explorer-shortcut">CTRL + Z</span>
                        </td>
                        <td>
                            <span class="explorer-text">Close File</span>
                            <span class="explorer-shortcut">CTRL + C</span>
                        </td>
                        <td>
                            <span class="explorer-text">Close Folder</span>
                            <span class="explorer-shortcut">CTRL + X</span>
                        </td>
                        <td>
                            <span class="explorer-text">Close All</span>
                            <span class="explorer-shortcut">CTRL + V</span>
                        </td>
                    </tr>
                </table>            
            </section>
            <hr>
            <i class="fa fa-angle-down section-icon-openFiles navbar-show-i"></i>    <span class="sections-open-buttons openFiles">OPEN FILES</span>
            <section class="navbar-section-openFileList">
                <i class="fa fa-star"></i>  <span>Coming Soon</span>
            <hr>
            </section>
            <i class="fa fa-angle-down section-icon-workspaces navbar-show-i"></i>    <span class="sections-open-buttons workspaces">WORKSPACES</span>
            <section class="navbar-section-workspaces">
                <i class="fa fa-star"></i>  <span>Coming Soon</span>
            </section>
        </div>

        <div class="navbar-show btn-styles-show">
        </div>

        <ul class="filesNavbar" id="filesNavbarList">
        </ul>

    </body>
</html>
