body {
    background-color: var(--bgFilesNavbar);
    font-family: 'Josefin Sans', sans-serif;
}
.main {
    display: inline-block;
    position: absolute;
    margin-top: 35px;
    min-height: calc(100% - 63px);
    max-height: calc(100% - 63px);
    min-width: 96%;
    max-width: 96%;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--bgMain);
    transition: all 0.5s;
}
.main::webkit-scrollbar-button:horizontal{
    display: none;
}
.main::-webkit-scrollbar {
    width: 10px;
}
.main::-webkit-scrollbar-track {
    background: #8888882d;
}
.main::-webkit-scrollbar-thumb {
    background: var(--defaultColor);
}
.main::-webkit-scrollbar-thumb:hover {
    background: var(--defaultColor2);
}
.main-content{
    padding: 60px;
}
