.image{
    margin-top: 3%;
    text-align:center;
    display: inherit;
    font-size: 264px;
    color: #13ad53c5;
}

.noFileTitle{
    text-align: center;
}

.noFileText{
    text-align: center;
}

.shortcut{
    background-color: #13ad53c5;
    font-size: 12px;
    padding: 3px;
    margin: 5px;
    border-radius: 16px;
}
