:root{
    --bgTitlebar: #3b3b3b;
    --bgNavbar: #313131;
    --bgNavbarShow: #242424;
    --bgFilesNavbar: #2e2e2e;
    --bgFiles: #272727;
    --bgFileSelected: #1f1f1f;
    --bgMain: #1f1f1f;
    --bgExplorer: #292929;
    --bgNotificationBox: #202020;
    --bgTitlebarButtonHover: #ffffff1a;
    --TitlebarTitle: #b3b3b3;
    --NavbarBtn: #6d6d6d;
    --navbarHr: rgba(49, 49, 49, 0.582);
    --background-color: transparent;
    --defaultColor: #ff3333;
    --defaultColor2: #ff6666;
    --white: #d6d6d6;
    --gray: #9c9c9c;
    --gray2: #8a8a8a;
}
                /* BODY STYLES*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
    color: #FFF;
}
body::-webkit-scrollbar {
    display: none;
}
                /* TITLEBAR STYLES*/
.title-bar {
    margin: 0;
    padding: 0;
    background-color: var(--bgTitlebar);
}
.bar {
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    position: sticky;
    z-index: 10;
    overflow: hidden;
}
.title {
    float: left;
    margin: 3px 0 0 5px;
    color: var(--TitlebarTitle);
    font-family: sans-serif;
    font-size: 18px;
}
.title img {
    padding-top: 1px;
    width: 16px;
    float: left;
    margin-right: 7px
}
.right-btns {
    float: right;
    color: var(--TitlebarTitle);
}
.titlebar-btn {
    float: left;
    width: 20px;
    height: 10px;
    margin: -2px 0 0 0;
    padding: 10px 10px;
    text-align: center;
    font-size: 18px;
    color: var(--TitlebarTitle);
    transition: all 0.2s;
}
.titlebar-btn:hover {
    background: var(--bgTitlebarButtonHover);
    color: var(--defaultColor);
}
.btn-devTools{
    padding: 8px 5px 12px 5px;
}
.notifications_box{
    position: absolute;
    display: inline-block;
    top: -200px;
    right: 50px;
    width: 305px;
    height: 200px;
    border: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: var(--bgNotificationBox);
    overflow: hidden;
    z-index: 5;
    transition: all 0.3s;
}
.notifications_box .notifications_body{
    position: relative;
    min-width: 100%;
    min-height: calc(100% - 41px);
    max-height: calc(100% - 41px);
    overflow-x: hidden;
    overflow-y: auto;
}
.notifications_box .notifications_body .notification_withoutNotifications{
    display: block;
    font-family: 'Ubuntu Mono';
    max-width: 200px;
    margin-top: 65px;
    margin-left: 47px;
    text-align: center;
}
.notifications_box .notifications_body .notification_item{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 0.2px solid var(--navbarHr);
}
.notifications_box .notifications_body .notification_item .notification_item_icon{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    display: inline-block;
    text-align: center;
    float: left;
}
.notifications_box .notifications_body .notification_item .notification_item_icon i{
    font-size: 28px;
    margin-top: 7px;
}
.notifications_box .notifications_body .notification_item .notification_item_text{
    min-width: calc(100% - 51px);
    max-width: calc(100% - 51px);
    min-height: 30px;
    max-height: 30px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: none;
    border-left: 0.2px solid var(--navbarHr);
    overflow: hidden;
    font-size: 14px;
    float: right;
}
.notifications_box .notifications_body .notification_item .notification_item_text p{
    margin: 0;
    padding: 0;
}
.notifications_box .clearNotificationsBtn{
    width: 100%;
    height: 40px;
    position: absolute;
    cursor: pointer;
    border: none;
    border-top: 0.5px solid var(--navbarHr);
    text-align: center;
    bottom: 0px;
}
.notifications_box .clearNotificationsBtn i{
    margin-top: 10px;
    margin-right: 5px;
    transition: all 0.3s;
}
.notifications_box .clearNotificationsBtn span{
    margin-top: 10px;
    transition: all 0.3s;
}
.notifications_box .clearNotificationsBtn:hover > i{
    color: var(--defaultColor2);
}
.notifications_box .clearNotificationsBtn:hover > span{
    color: var(--defaultColor2);
}
.notifications_box:hover{
    overflow: auto;
}
.notifications_box_show{
    top: 40px;
}
.notifications_box .notifications_body::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}
.notifications_box .notifications_body::-webkit-scrollbar-track {
    background: transparent;
}
.notifications_box .notifications_body::-webkit-scrollbar-thumb {
    background: var(--defaultColor);
}
                /* NAVBAR STYLES*/
.navbar{
    display: inline-block;
    position: relative;
    background-color: var(--bgNavbar);
    min-width: 4%;
    min-height: calc(100% - 28px);
    max-height: calc(100% - 28px);
    max-width: 4%;
    z-index: 3;
}
.navbar-btn {
    transition: all 0.1s;
}
.navbar-btn i{
    display: block;
    color: var(--NavbarBtn);
    font-size: 28px !important;
    width: 54px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.navbar-btn i:hover{
    color: white;
}
.selectedNavbar{
    box-shadow: inset 5px -1px 0px -2px white;
}
.selectedNavbar > i{
    color: white;
}
.bottom-buttons{
    position: absolute;
    bottom: 0px;
}
.navbar-show{
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: var(--bgNavbarShow);
    list-style-type: none;
    min-width: 350px;
    max-width: 350px;
    min-height: calc(100% - 28px);
    max-height: calc(100% - 28px);
    z-index: 2;
    margin-left: -360px;
    overflow: hidden;
    transition: all 0.5s;
}
.navbar-show hr {
    border: 0.1px solid var(--navbarHr);
}
.navbar-show .navbar-show-i{
    color: var(--TitlebarTitle);
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar-show > .sections-open-buttons{
    font-family: 'PT Mono', monospace;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    color: var(--TitlebarTitle);
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar-section-explorer::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}
.navbar-section-explorer::-webkit-scrollbar-track {
    background: transparent;
}
.navbar-section-explorer::-webkit-scrollbar-thumb {
    background: var(--defaultColor);
}
.navbar-section-explorer{
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 0px;
    min-width: 320px;
    max-height: 0px;
    max-width: 320px;
    background-color: var(--bgExplorer);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: auto;
    transition: all 0.5s;
}
.navbar-section-explorer > table{
    display: inline-block;
    position: relative;
    min-width: 100%;
    max-width: 100%;
}
.navbar-section-explorer table tr {
    display: flex;
    flex-wrap: wrap;
}
.navbar-section-explorer table tr td {
    margin: 0;
    margin-top: 12px;
    margin-right: 6px;
    margin-left: 6px;
    min-width: calc(153px - 15px);
    flex-grow: 1;
    min-height: 40px;
    max-height: 4px;
    background-color: var(--bgNavbarShow);
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
}
.navbar-section-explorer table tr td .explorer-text {
    display: inherit;
    color: var(--white);
    margin-top: 5px;
}
.navbar-section-explorer table tr td .explorer-shortcut {
    display: inherit;
    margin-top: 2px;
    font-size: 12px;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--gray);
}
.navbar-section-openFileList{
    margin-top: 10px;
}
.navbar-section-openFileList i{
    margin-left: 30px;
    color: var(--defaultColor2);
    opacity: 0%;
    transition: all 0.5s;
}
.navbar-section-openFileList span{
    opacity: 0%;
    transition: all 0.5s;
}
.navbar-section-workspaces{
    margin-top: 10px;
}
.navbar-section-workspaces i{
    margin-left: 30px;
    color: var(--defaultColor2);
    opacity: 0%;
    transition: all 0.5s;
}
.navbar-section-workspaces span{
    opacity: 0%;
    transition: all 0.5s;
}
.showWithMargin {
    margin-left: 0px !important;
}
.moveTheMargin {
    margin-left: 350px !important;
}
.adjustWidth {
    min-width: calc(96% - 350px);
    max-width: calc(96% - 350px);
}
.showWithHeight {
    min-height: 300px !important;
    max-height: 300px !important;
}
.showWithOpacity{
    opacity: 100% !important;
}
.btn-styles-show{
    display: none;
}
                /* FILES NAVBAR STYLES*/
.filesNavbar{
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: var(--bgFilesNavbar);
    min-width: calc(100% - 4%);
    max-width: calc(100% - 4%);
    min-height: 35px;
    max-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;
    transition: all 0.5s;
}
.filesNavbar:hover{
    overflow-x: auto;
}
.filesNavbar .file{
    display: inline-flex;
    position: relative;
    background-color: var(--bgFiles);
    color: var(--gray2);
    margin-right: 1px;
    min-width: 160px;
    max-width: 200px;
    min-height: 35px;
    max-height: 35px;
    width: 160px;
    overflow: hidden;
}
.filesNavbar .file > img {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 16px;
    height: 16px;
}
.filesNavbar .file > span {
    min-width: 90px;
    max-width: 90px;
    max-height: 15px;
    font-size: 13px;
    font-family: Arial;
    margin: auto;
}
.filesNavbar .file > i {
    display: none;
}
.filesNavbar .file:hover > i {
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 10px;
}
.filesNavbar .fileSelected {
    background-color: var(--bgMain);
}
.filesNavbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.filesNavbar::-webkit-scrollbar-track {
    background: transparent;
}
.filesNavbar::-webkit-scrollbar-thumb {
    background: #ff3333;
}
.filesNavbar::-webkit-scrollbar-thumb:hover {
    background: #ff3333c5;
}
                /* OTHERS STYLES */
.drag {
    -webkit-app-region:drag;
}
.no-drag {
    -webkit-app-region: no-drag
}
.pointer {
    cursor: pointer;
}
.hide {
    display: none;
}
.shortcut-or {
    color: #AAA;
}
                /* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    .navbar {
        min-width: 6%;
        max-width: 6%;
    }
    .filesNavbar{
        min-width: 94%;
        max-width: 94%;
    }
    .main {
        min-width: 94%;
        max-width: 94%;
    }
}
