:root{
    --defaultColor: #ff3333;
    --gray: #727275;
    --gray2: #98989a;
    --black: #171717;
    --white: #c3d0d2;
}
    /* OTHERS */
body{
    color: var(--gray);
}
h5 {
    margin: 0;
    font-size: 26px;
    font-weight: normal;
}
ul{
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
    list-style-type: none;
}
a{
    color: var(--defaultColor);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
    /* START SECTION */
#start{
    width: 30%;
}
    /* RECENTS FILES SECTION*/
#recentFiles{
    margin-top: 10%;
    width: 30%;
}
.recentFiles-list{
    list-style-type: none;
}
.recentFile-link{
    cursor: pointer;
    font-family: 'Ubuntu Mono', monospace;
}
    /* HELP SECTION */
#help{
    width: 30%;
    margin-top: 10%;
}
    /* CUSTOMIZE SECTION */
#customize_learn{
    width: 40%;
    float: right;
}
#customize_learn ul{
    padding: 0;
}
#customize_learn ul li {
    background-color: var(--black);
    padding: 10px;
    margin-top: 3px;
    cursor: pointer;
}
#customize_learn ul li h3{
    font-size: 16px;
    color: var(--gray2);
    margin: 0;
    padding: 0;
}
#customize_learn ul li p{
    margin: 0;
    margin-top: 4px;
    padding: 0;
}
#customize_learn ul li:hover > h3{
    color: var(--white);
    transition: color 0.5s;
}
#customize_learn .learn_title {
    margin-top: 30px;
}
